#main-links > a{
  margin: 10px;
  color: #34495e;
  text-shadow: -1px -1px 0 #ecf0f1, 1px -1px 0 #ecf0f1, -1px 1px 0 #ecf0f1, 1px 1px 0 #ecf0f1;
}

*{
  text-decoration: none;
  font-family: 'Cinzel Decorative'
}

a{
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  color: black;
}

.profilePic{
  cursor: pointer;
  width: 300px;
  height: 200px;

}
.userContainer{
  margin: 20px;
  justify-content: center;
  text-align: center;
}

.usersContainer{
  display:flex;
  justify-content: center;
  margin-top: 100px;
}

.movieImg{
  width: 200px;
  height: 200px;
}

.moviesContainer{
  display:flex;
  margin-top: 100px;
}

.movie{
  margin: 20px;
  justify-content: center;
  text-align: center;
}